{% extends 'base.html' %}

{% block title %}
Add Department
{% endblock %}

{% block content %}

<div class="container">

    <div class="table-card">

        <h1>➕ Add Department</h1>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <br>

            <button type="submit" class="add-btn">
                💾 Save Department
            </button>

            <a href="{% url 'department_list' %}" class="delete-btn">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}